<%- include ../partials/head %>
<%- include ../partials/header %>

<% if(products.length > 0){ %>
<div class="row">
    <div class="col-md-6 col-lg-6 offset-md-3 offset-sm-3">
        <ul class="list-group">
            <% products.forEach((product) => { %>
            <li class="list-group-item">
                <span style="font-weight: bold"><%= product.item.title %></span>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                        Action
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-center">
                        <li><a href="/reduce/<%= product.item._id %>">Reduce by 1</a></li>
                        <li><a href="/remove/<%= product.item._id %>">Remove All</a></li>
                    </ul>
                </div>
                <span class="badge badge-success">$<%= product.price %></span>
                <span class="badge badge-pill badge-info float-right"><%= product.qty %></span>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-4 offset-md-4 offset-sm-3">
        <strong>Total: <%= cartSession.totalPrice %></strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-lg-4 offset-md-4 offset-sm-3">
        <a href="/checkout" class="btn btn-success">Checkout</a>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-md-6 col-lg-4 offset-md-4 offset-sm-3">
        <h2>No Items in Cart yet!</h2>
    </div>
</div>
<% } %>

<%- include ../partials/footer %>
<%- include ../partials/end %>